---
alerting:
  discord:
    webhook-url: "{{ gatus_discord_webhook_url }}"
    default-alert:
      description: health-check failed
      failure-threshold: 3
      success-threshold: 2
      send-on-resolved: true

external-endpoints:
  - name: main
    group: heartbeat
    token: "{{ gatus_heartbeat_token }}"
    heartbeat:
      interval: 10m
    alerts:
      - type: discord

  - name: utility
    group: heartbeat
    token: "{{ gatus_heartbeat_token }}"
    heartbeat:
      interval: 10m
    alerts:
      - type: discord
