listening-port=3478
external-ip={{ towonel_ipv4 }}
fingerprint
use-auth-secret
static-auth-secret={{ turn_static_auth_secret }}
realm=turn.jory.dev
total-quota=100
stale-nonce=600
no-tls
no-dtls
min-port=49160
max-port=49179
no-multicast-peers
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=172.16.0.0-172.31.255.255
denied-peer-ip=127.0.0.0-127.255.255.255
denied-peer-ip=169.254.0.0-169.254.255.255
log-file=stdout
pidfile=/tmp/turnserver.pid
no-rfc5780
response-origin-only-with-rfc5780
