{% for namespace in ["cert-manager", "external-secrets", "flux-system"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: jory.dev-tls
  namespace: cert-manager
  annotations:
    cert-manager.io/alt-names: '*.jory.dev,jory.dev'
    cert-manager.io/certificate-name: jory.dev
    cert-manager.io/common-name: jory.dev
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: op://kubernetes/$CLUSTER-cluster-tls/tls.crt
  tls.key: op://kubernetes/$CLUSTER-cluster-tls/tls.key
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword
  namespace: external-secrets
stringData:
  token: op://kubernetes/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://kubernetes/sops/SOPS_PRIVATE_KEY
