#shellcheck disable=SC2148,SC2155
# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/main/kubeconfig):$(expand_path ./kubernetes/utility/kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
#export TALOSCONFIG="$(expand_path ./kubernetes/main/bootstrap/talos/clusterconfig/talosconfig):$(expand_path ./kubernetes/utility/bootstrap/talos/clusterconfig/talosconfig)"
