# Brew
/.private/
/.task/
Brewfile.lock.json
# Kubernetes
kubeconfig
talosconfig
.decrypted~*
*.secret.env
*.secret.yaml
*.agekey
*.pub
*.key
*.pem
# Other
*.psql
# Private
.private
.bin
# Terraform
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
# Trash
.DS_Store
Thumbs.db
