.bin
.claude
.codex-opencode
.DS_Store
.nanocoder
.private
.terraform
.terraform.lock.hcl
.terraform.tfstate*
*.agekey
*.crt
*.env
*.iso
*.key
*.pem
*.psql
*.pub
*.tfvars
kubeconfig*
kubeconfig
talosconfig*
talosconfig
terraform.tfstate*
Thumbs.db
