---
apiVersion: kopiur.home-operations.com/v1alpha1
kind: Snapshot
metadata:
  generateName: {{ ENV.APP }}-manual-
  namespace: {{ ENV.NS }}
spec:
  policyRef:
    name: {{ ENV.APP }}
  tags:
    reason: manual
