---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.14/website/content/v1.14/schemas/config.schema.json
version: v1alpha1
machine:
  ca:
    crt: op://Kubernetes/talos-{{ ENV.CLUSTER }}/MACHINE_CA_CRT
    {% if ENV.MACHINE_TYPE == 'controlplane' %}
    key: op://Kubernetes/talos-{{ ENV.CLUSTER }}/MACHINE_CA_KEY
    {% endif %}
  features:
    diskQuotaSupport: true
  token: op://Kubernetes/talos-{{ ENV.CLUSTER }}/MACHINE_TOKEN
  type: {{ ENV.MACHINE_TYPE }}
cluster:
  ca:
    crt: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_CA_CRT
    {% if ENV.MACHINE_TYPE == 'controlplane' %}
    key: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_CA_KEY
    {% endif %}
  clusterName: utility
  controlPlane:
    endpoint: https://k8s.utility.internal:6443
  token: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_TOKEN
  {% if ENV.MACHINE_TYPE == 'controlplane' %}
  aggregatorCA:
    crt: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_AGGREGATORCA_CRT
    key: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_AGGREGATORCA_KEY
  etcd:
    advertisedSubnets: ["10.69.1.0/24"]
    ca:
      crt: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_ETCD_CA_CRT
      key: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  serviceAccount:
    key: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: ResolverConfig
searchDomains:
  domains: []
hostDNS:
  enabled: true
  forwardKubeDNSToHost: true
  resolveMemberNames: true
---
apiVersion: v1alpha1
kind: DiscoveryServiceConfig
name: default
endpoint: https://discovery.talos.dev/
---
apiVersion: v1alpha1
kind: DiscoveryIdentityConfig
clusterID: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_ID
clusterSecret: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_SECRET
---
apiVersion: v1alpha1
kind: TimeSyncConfig
enabled: true
ntp:
  servers: ["time.cloudflare.com"]
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC }}:v1.14.0
provisioning:
  wipe: false
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: nbd
---
apiVersion: v1alpha1
kind: SysfsConfig
params:
  devices.system.cpu.cpufreq.policy0.scaling_governor: powersave
  devices.system.cpu.cpufreq.policy0.energy_performance_preference: balance_power
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
  fs.inotify.max_user_watches: "1048576"     # Watchdog
  fs.inotify.max_user_instances: "8192"      # Watchdog
  net.core.default_qdisc: fq                 # 10Gb/s
  net.core.somaxconn: "8192"                # Raise listen backlog for burst handling
  net.core.netdev_max_backlog: "16384"      # Raise kernel ingress queue depth
  net.core.rmem_max: "67108864"              # 10Gb/s | Cloudflared / QUIC
  net.core.wmem_max: "67108864"              # 10Gb/s | Cloudflared / QUIC
  net.ipv4.neigh.default.gc_thresh1: "4096"  # Prevent ARP cache overflows
  net.ipv4.neigh.default.gc_thresh2: "8192"  # Prevent ARP cache overflows
  net.ipv4.neigh.default.gc_thresh3: "16384" # Prevent ARP cache overflows
  net.ipv4.ping_group_range: 0 2147483647    # Allow Ping
  net.ipv4.tcp_congestion_control: bbr       # 10Gb/s
  net.ipv4.tcp_fastopen: "3"                 # Send and accept data in the opening SYN packet
  net.ipv4.tcp_mtu_probing: "1"              # 10Gb/s | Jumbo frames
  net.ipv4.tcp_notsent_lowat: "131072"       # Allow Ping
  net.ipv4.tcp_rmem: 4096 87380 33554432     # 10Gb/s
  net.ipv4.tcp_wmem: 4096 65536 33554432     # 10Gb/s
  net.ipv4.tcp_slow_start_after_idle: "0"    # Allow Ping
  net.ipv4.tcp_window_scaling: "1"           # 10Gb/s
  net.ipv4.tcp_max_syn_backlog: "8192"       # Larger SYN queue for bursty connection rates
  sunrpc.tcp_slot_table_entries: "128"       # 10Gb/s | NFS
  sunrpc.tcp_max_slot_table_entries: "128"   # 10Gb/s | NFS
  user.max_user_namespaces: "11255"          # User Namespaces
  vm.dirty_background_ratio: "5"            # Start writeback earlier
  vm.dirty_ratio: "20"                      # Cap dirty page buildup
  vm.dirty_expire_centisecs: "3000"         # Expire dirty data after 30s
  vm.dirty_writeback_centisecs: "500"       # Flush dirty pages every 5s
---
apiVersion: v1alpha1
kind: EtcFileConfig
name: nfsmount.conf
mode: 0o644
contents: |
  [ NFSMount_Global_Options ]
  nfsvers=4.2
  hard=True
  nconnect=16
  noatime=True
---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: containerd
content: |
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = false
  [plugins."io.containerd.cri.v1.runtime"]
    device_ownership_from_security_context = true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
nodeIP:
  validSubnets: ["10.69.1.0/24"]
labels:
  topology.kubernetes.io/region: k8s
  topology.kubernetes.io/zone: {{ 'm' if ENV.MACHINE_TYPE == 'controlplane' else 'w' }}
  {% if ENV.MACHINE_TYPE == 'controlplane' %}
  node-role.kubernetes.io/control-plane: ""
  {% endif %}
---
apiVersion: v1alpha1
kind: KubeletConfig
image: ghcr.io/siderolabs/kubelet:v1.36.2
defaultRuntimeSeccompProfileEnabled: true
extraArgs:
  max-pods: "200"
config:
  serializeImagePulls: false
  imageMaximumGCAge: 24h
  allowedUnsafeSysctls:
    - net.ipv6.conf.net1.accept_ra_rt_info_max_plen
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets: ["10.42.0.0/16"]
serviceSubnets: ["10.43.0.0/16"]
---
apiVersion: v1alpha1
kind: KubePrismConfig
port: 7445
{% if ENV.MACHINE_TYPE == 'controlplane' %}
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles: ["os:admin"]
allowedKubernetesNamespaces: ["actions-runner-system", "kube-tools"]
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
image: registry.k8s.io/kube-apiserver:v1.36.2
certExtraSANs: ["k8s.utility.internal", "127.0.0.1"]
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: HPAScaleToZero=true
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
image: registry.k8s.io/kube-controller-manager:v1.36.2
extraArgs:
  bind-address: 0.0.0.0
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
image: registry.k8s.io/kube-scheduler:v1.36.2
extraArgs:
  bind-address: 0.0.0.0
config:
  profiles:
    - schedulerName: default-scheduler
      plugins:
        score:
          disabled:
            - name: ImageLocality
      pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:v1.36.2
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeEtcdEncryptionConfig
config:
  resources:
    - providers:
        - secretbox:
            keys:
              - name: key2
                secret: op://Kubernetes/talos-{{ ENV.CLUSTER }}/CLUSTER_SECRETBOXENCRYPTIONSECRET
        - identity: {}
      resources:
        - secrets
{% endif %}
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp1s0
bondMode: active-backup
miimon: 100
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.10
vlanID: 10
parent: bond0
mtu: 1500
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.70
vlanID: 70
parent: bond0
mtu: 1500
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.model == "WD_BLACK SN770 1TB" && !system_disk
  minSize: 1TB
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: OOMConfig
triggerExpression: "false"
