---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-access-token
  namespace: external-secrets
stringData:
  ORG_ID: {{ ENV.BITWARDEN_ORG_ID }}
  token: {{ ENV.BITWARDEN_KUBERNETES_TOKEN }}
x
